# ---- dependencies / build ----
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---- editors / os ----
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---- caches ----
.cache/
.temp/
.vite/
*.tsbuildinfo
